{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src={% static 'core/js/app.js' %}></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Blog do Igor</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
          <a href="{% url 'home' %}" class="logo">🐍 Py</a>
          <button class="hamburger"></button>
          <ul class="nav-list">
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'projeto' %}">Projetos</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
          </ul>
        </nav>
      </header>
      <div class="boddy">
      <section class="contact">
        <h2>CONTATO ✉️</h2>
        <form action="" method="POST">
            {% csrf_token %}   
            <div class="input-box">
                <div class="input-field field">
                    <input type="text" placeholder="Nome Completo" id="name" name="full-name" autocomplete="off" class="item">
                    <div class="error-txt">Name can't be blank</div>
                </div>
                <div class="input-field field">
                    <input type="text" placeholder="Email" id="email" name="email" autocomplete="off" class="item">
                    <div class="error-txt">Email can't be blank</div>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field field">
                    <input type="text" placeholder="Telefone" id="Phone Number"  autocomplete="off" class="item">
                    <div class="error-txt">Phone Number can't be blank</div>
                </div>
                <div class="input-field field">
                    <input type="text" placeholder="Titulo" id="Subject" name="subject"  autocomplete="off" class="item">
                    <div class="error-txt">Subject can't be blank</div>
                </div>
            </div>

            <div class="textarea-field field">
            <textarea id="message" cols="30" rows="10" placeholder="Your message" name="message"  autocomplete="off" class="item"></textarea>
            <div class="error-txt">Msg can't be blank</div>
            </div>

            <button type="submit">ENVIAR</button>
        </form>
    </section>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="script.js"></script>
</div>
</body>
</html>

</div>
</html>     