{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src={% static 'js/app.js' %}></script>
    <title>Blog do Igor</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="{% url 'home' %}" class="logo">🐍 Py</a>
            <button class="hamburger"></button>
            <ul class="nav-list">
              <li><a href="{% url 'sobre' %}">Sobre</a></li>
              <li><a href="{% url 'projeto' %}">Projetos</a></li>
              <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>
          </nav>
      </header>
<div class="container1">
    <div class="container">
        <form action="" method="POST" class="contact-form">
            {% csrf_token %}
            <div class="form-control">
                
                <input type="text" name="full-name" placeholder="Digite seu nome">
            </div></br>
            <div class="form-control">
                
                <input type="text" name="email" placeholder="Digite seu e-mail">
            </div></br>
            <div class="form-control">
               
                <input type="text" name="subject" placeholder="Assunto">
            </div></br></br>
            <div class="form-control">
                
                <textarea name="message" id="message" rows="10" cols="30"> 
                </textarea> 
            <div class="form-control">
            <input type="submit" class="btn submit-btn" value="ENVIAR">
</div>
</html>
