{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src={% static 'js/app.js' %}></script>
    <title>Blog do Igor</title>
</head>
<div class="fot">
<body>
</div>
    <header class="header">
        <nav class="nav">
          <a href="{% url 'home' %}" class="logo">🐍 Py</a>
          <button class="hamburger"></button>
          <ul class="nav-list">
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'projeto' %}">Projetos</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
          </ul>
        </nav>
      </header>
      <img class="hero">
      <div class="container1">
        <div class="text">
          <h1>Oi, me chamo Igor 👋</h1><br />
          <p> Estou a procura do meu primeiro emprego na vaga de Jr. <br /> 
            em python seja (django, flask, script, automação), <br /> se você quiser posso te ajudar
             a solucionar <br />
            problemas dentro da sua empresa no botão abaixo você sera <br /> 
            direicionado ao meu contato</p>
        </div>
        <a href="{% url 'contato' %}" class="btneon">CONTATO</a>
        <div class="container">
          
      <img class="hero">
    </html>
</div>
</html>
