{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src={% static 'core/js/app.js' %}></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Blog do Igor</title>
</head>
<body>
   <header class="header">
    <nav class="nav">
      <a href="{% url 'home' %}" class="logo">🐍 Py</a>
      <button class="hamburger"></button>
      <ul class="nav-list">
      <li><a href="{% url 'sobre' %}">Sobre</a></li>
      <li><a href="{% url 'projeto' %}">Projetos</a></li>
      <li><a href="{% url 'contato' %}">Contato</a></li>
      </ul>
  </header>

      <div class="container1">
        <div class="container">
            <div class="text">
                <div class="cab">
                <h1>PROJETOS 🚀</h1><br />
                </div>
                <p> Criei este blog para me desafiar, irei falar melhor dos desafios que 
                    encontrei neste projeto no meu github </br> e colocarei ele o link dele aqui tambem.
                    Pretendo mensalmente atualizar este blog conforme </br> for aprendendo mais e evoluindo.
                    Hoje estou trabalhando em um sistema de cotação </br> para empresa onde trabalho, mas por fora
                    tambem irei colocar ele no github.
                </p>
              </div>
    </html>
</div>
</html>