{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src={% static 'core/js/app.js' %}></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Blog do Igor</title>
</head>
<body>
    <header class="header">
      <nav class="nav">
        <a href="{% url 'home' %}" class="logo">🐍 Py</a>
        <button class="hamburger"></button>
        <ul class="nav-list">
          <li><a href="{% url 'sobre' %}">Sobre</a></li>
          <li><a href="{% url 'projeto' %}">Projetos</a></li>
          <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>
      </nav>
    </header>
    <div class="container1">
      <div class="container">
        <div class="text">
          <div class="cab">
          <h1>SOBRE 👨‍🎓 💻</h1><br />
          </div>
          <p> Tenho estudado python e acredito que ainda tenho muito que melhorar, </br> gosto muito de aprender e ajudar as pessoas 
            e encontrei dentro da programação uma forma de poder ajustar </br> essas duas coisas uma vez que quando se tem automação 
            conseguimos, melhorar e agilizar nossos projetos.</p></br></br>
             
           <p> Tenho procurado formas de me desafiar se quiser me ajudar a </br> evoluir que tal me solicitar ajuda para eu poder treinar e evoluir
            e você ganhar tempo e </br> descanso com a sua familia. </p>
        </div>
  </html>
</div>
</html>