* {
    margin: 0;
    padding: 0;
  }
  
  a {
    font-family: sans-serif;
    text-decoration: none;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}
  
  .header {
    background: rgb(85, 81, 87);
    padding-inline: 16px;
  }
  
  .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 48px;
    color: #fff;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }
  
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgb(85, 81, 87);
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

.container1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f242d;
    opacity: 1;
}

.tag{
    padding: 5px 0;
    font-size: 20px; 
    border-radius: 10px;
}

.container{
 margin-bottom: 30px;
 position: relative;
}

input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;

}

form-control{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
.btn_submit-btn{
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

.hero{
  background-image: url(../img/python-removebg-preview.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 200px;
  width: 200px;
  position: absolute;
  left: 55%;
  margin-left: -100px;
  top: 50%;
  margin-top: -140px;
  background-color: #1f242d;
  width: 42%;
  height: 65%;
  color: #1f242d;
}
.text{
  margin: 100px auto auto 50px;
  color: white;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btneon{
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  margin: 40px 0;
  color:#33ff00;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  transition: 0.4s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: bold;
  margin-right: 50px;
  border: 2px solid #33ff00;
  border-radius:50px;
  position: absolute;
  left: 10%;
  margin-left: 10px;
  top: 60%;
}

.btneon:hover{
  background: #33ff00;
  color: #000;
  box-shadow: 0 0 10px #33ff00, 0 0 40px #33ff00, 0 0 70px #33ff00;
}

.btneon:active{
  color:#33ff00; 
  background: #000000;
}

.cab{
  position: absolute;
  margin-left: 300px;
  top: 1%;

}

.cabec{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.cabec1{
  margin-left: 400px;
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.contact-left{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: white;
  border-radius: 50px;
}

.conttex{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
